<!DOCTYPE html>
<html ng-app="Cms" ng-controller="MainController" lang="{{ app.request.locale }}" xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{% block favicon %}{% endblock %}">

    {% block stylesheets %}
        {% stylesheets
        '@ChapleanCmsBundle/Resources/public/libs/angular/angular-csp.css'
        '@ChapleanCmsBundle/Resources/public/libs/components-font-awesome/css/font-awesome.min.css'
        '@ChapleanCmsBundle/Resources/public/libs/textAngular/dist/textAngular.css'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}

        {% stylesheets
        '@ChapleanCmsBundle/Resources/public/sass/*' filter='compass' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <script type="text/javascript">
        var locale = '{{ app.request.locale }}';
    </script>

    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% block javascripts %}
        {% javascripts
        'bundles/bazingajstranslation/js/translator.min.js'
        'js/translations/config.js'
        'js/translations/messages/*.js'
        'js/translations/navigation/*.js'
        '@ChapleanCmsBundle/Resources/public/libs/jquery/dist/jquery.min.js'
        '@ChapleanCmsBundle/Resources/public/libs/bootstrap-sass-official/assets/javascripts/bootstrap.js'
        '@ChapleanCmsBundle/Resources/public/libs/angular/angular.min.js'
        '@ChapleanCmsBundle/Resources/public/libs/angular-resource/angular-resource.min.js'
        '@ChapleanCmsBundle/Resources/public/libs/angular-animate/angular-animate.min.js'
        '@ChapleanCmsBundle/Resources/public/libs/angular-sanitize/angular-sanitize.min.js'
        '@ChapleanCmsBundle/Resources/public/libs/angular-cookies/angular-cookies.min.js'
        '@ChapleanCmsBundle/Resources/public/libs/angular-bootstrap/ui-bootstrap-tpls.js'
        '@ChapleanCmsBundle/Resources/public/libs/angular-symfony-translation/dist/angular-symfony-translation.js'
        '@ChapleanCmsBundle/Resources/public/libs/angular-utils-pagination/dirPagination.js'
        '@ChapleanCmsBundle/Resources/public/libs/angular-smart-table/dist/smart-table.min.js'
        '@ChapleanCmsBundle/Resources/public/libs/angular-ui-mask/dist/mask.min.js'
        '@ChapleanCmsBundle/Resources/public/libs/angular-file-upload/dist/angular-file-upload.min.js'
        '@ChapleanCmsBundle/Resources/public/libs/textAngular/dist/textAngular-rangy.min.js'
        '@ChapleanCmsBundle/Resources/public/libs/textAngular/dist/textAngular-sanitize.min.js'
        '@ChapleanCmsBundle/Resources/public/libs/textAngular/dist/textAngular.min.js'
        '@ChapleanCmsBundle/Resources/public/libs/bootbox/bootbox.js'
        '@ChapleanCmsBundle/Resources/public/libs/ngBootbox/ngBootbox.js'
        '@ChapleanCmsBundle/Resources/public/libs/moment/min/moment-with-locales.min.js'
        '@ChapleanCmsBundle/Resources/public/libs/angular-moment/angular-moment.min.js'
        '@ChapleanCmsBundle/Resources/public/js/app.js'
        '@ChapleanCmsBundle/Resources/public/js/services/*'
        '@ChapleanCmsBundle/Resources/public/js/controllers/*'
        '@ChapleanCmsBundle/Resources/public/js/filters/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/ng-template" src="{{ asset('@ChapleanCmsBundle/Resources/public/libs/angular-utils-pagination/dirPagination.tpl.html') }}"></script>
    {% endblock %}

    {% block head %}{% endblock %}
</head>

{% block body_with_tag %}
    <body>
        <uib-alert ng-repeat="alert in alerts" type="{^ alert.type ^}" class="alert-fix-top" close="closeAlert($index)" ng-style="alert.style">{^ alert.message ^}</uib-alert>
        <div class="container-fluid" {% block controller %}{% endblock %}>
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-lg-2 sidebar">
                    <div class="sidebar-header">
                        {% block logo %}
                            <div class="default-logo"></div>
                        {% endblock %}
                        <span>{{ 'menu.header' | trans }}</span>
                    </div>
                    <div>
                        <hr>
                        <ul class="sidebar-menu">
                            {% if post_is_activate %}
                            <li class="treeview">
                                <a href="{{ path('cms_post_list') }}">
                                    <i class="fa fa-hand-o-right"></i> {{ 'menu.posts' | trans }}
                                </a>
                            </li>
                            {% endif %}
                            {% if page_is_activate %}
                            <li class="treeview">
                                <a href="{{ path('cms_page_list') }}">
                                    <i class="fa fa-file-text-o"></i> {{ 'menu.pages' | trans }}
                                </a>
                            </li>
                            {% endif %}
                            {% if block_is_activate %}
                            <li class="treeview">
                                <a href="{{ path('cms_block_list') }}">
                                    <i class="fa fa-puzzle-piece"></i> {{ 'menu.blocks' | trans }}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="col-xs-8 col-xs-push-4 col-sm-9 col-sm-push-3 col-lg-10 col-lg-push-2">
                    <section class="content-header">
                        <span>
                            <i class="fa  fa-bars"></i>
                            {% if path is defined %}
                                {% for step in path %}
                                    &nbsp;/&nbsp;{{ step }}
                                {% endfor %}
                            {% endif %}
                        </span>
                    </section>

                    <section class="content-action">
                        {% block cms_action_top %} {% endblock %}
                    </section>

                    <section class="content-body">
                        {% block cms %}{% endblock %}
                    </section>

                    <section class="content-action">
                        {% block cms_action_bottom %} {% endblock %}
                    </section>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
</html>
