{% extends 'ChapleanCmsBundle::layout-backoffice.html.twig' %}

{% block cms %}
    {% include 'ChapleanCmsBundle:Angular:media-manager-modal.html.twig' %}

    {% if pageId is not empty %}
        <input type="hidden" ng-init="pageId = {{ pageId }}" ng-model="pageId" />
    {% else %}
        <input type="hidden" ng-model="pageId" />
    {% endif %}
    <form id="page-form" name="pageForm" ng-controller="PageController" ng-submit="savePage(pageForm, '{{ form.vars.name }}')" role="form">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-left">
                    <div ng-show="pageId">
                        <span class="ng-cloak">{^ 'header.edition'|trans:{'page': pageRoute.page.title} ^}</span>
                        <span>
                            <a class="frontend-link" target="_blank" href="{^ path('cms_page_view', {pagePath: pagePath}) ^}">
                                <span class="fa fa-external-link"></span>
                                {{ 'global.frontend' | trans }}
                            </a>
                        </span>
                    </div>
                    <div class="ng-cloak" ng-show="!pageId">
                        <span>{{ 'header.creation.page'|trans }}</span>
                    </div>
                </div>
                <div class="navbar-right"></div>
            </div>
        </nav>
        <div class="panel panel-body panel-back">
            <div class="col-sm-12 col-md-7 no-padding-lr">
                {# Path #}
                <div class="form-group col-xs-12 no-padding-lr">
                    <label id="path" for="{{ form.path.vars.id }}">{{ 'global.path'|trans }}</label>
                    <div class="col-md-12 no-padding-lr">
                        {{ form_widget(form.path , {'attr': {'placeholder': 'placeholder.path'|trans, 'ng-model': 'pageRoute.path', 'pattern': '^[-_/a-z0-9]{1,}$', 'class': 'form-control'}}) }}
                        <span class="text-error ng-cloak" ng-if="isRequire(pageForm, '{{ form.path.vars.full_name }}')">{{ 'alert.field.required'|trans }}</span>
                    </div>
                </div>
                {# MenuName #}
                <div class="form-group col-xs-12 no-padding-lr">
                    <label id="label" for="{{ form.menuName.vars.id }}">{{ 'global.label'|trans }}</label>
                    <div class="col-md-12 no-padding-lr">
                        {{ form_widget(form.menuName , {'attr': {'placeholder': 'placeholder.menu_name'|trans, 'ng-model': 'pageRoute.menuName', 'class': 'form-control'}}) }}
                        <span class="text-error ng-cloak" ng-if="isRequire(pageForm, '{{ form.menuName.vars.full_name }}')">{{ 'alert.field.required'|trans }}</span>
                    </div>
                </div>
                {# Rollover #}
                <div class="form-group col-xs-12 no-padding-lr">
                    <label id="rollover" for="{{ form.rollover.vars.id }}">{{ 'global.rollover'|trans }}</label>
                    <div class="col-md-12 no-padding-lr">
                        {{ form_widget(form.rollover , {'attr': {'placeholder': 'placeholder.rollover'|trans, 'ng-model': 'pageRoute.rollover', 'class': 'form-control'}}) }}
                        <span class="text-error ng-cloak" ng-if="isRequire(pageForm, '{{ form.rollover.vars.full_name }}')">{{ 'alert.field.required'|trans }}</span>
                    </div>
                </div>
                {# MetaDescription #}
                <div class="form-group col-xs-12 no-padding-lr">
                    <label id="metaDescription" for="{{ form.page.metaDescription.vars.id }}">{{ 'global.meta_description'|trans }}</label>
                    <div class="col-md-12 no-padding-lr">
                        {{ form_widget(form.page.metaDescription , {'attr': {'ng-model': 'pageRoute.page.metaDescription', 'class': 'form-control'}}) }}
                        <span class="text-error ng-cloak" ng-if="isRequire(pageForm, '{{ form.page.metaDescription.vars.full_name }}')">{{ 'alert.field.required'|trans }}</span>
                    </div>
                </div>
                {# Title #}
                <div class="form-group col-xs-12 no-padding-lr">
                    <label id="title" for="{{ form.page.title.vars.id }}">{{ 'global.title'|trans }}</label>
                    <div class="col-md-12 no-padding-lr">
                        {{ form_widget(form.page.title , {'attr': {'placeholder': 'placeholder.title'|trans, 'ng-model': 'pageRoute.page.title', 'class': 'form-control'}}) }}
                        <span class="text-error ng-cloak" ng-if="isRequire(pageForm, '{{ form.page.title.vars.full_name }}')">{{ 'alert.field.required'|trans }}</span>
                    </div>
                </div>
                {# Subtitle #}
                <div class="form-group col-xs-12 no-padding-lr">
                    <label id="subtitle" for="{{ form.page.subtitle.vars.id }}">{{ 'global.subtitle'|trans }}</label>
                    <div class="col-md-12 no-padding-lr">
                        {{ form_widget(form.page.subtitle , {'attr': {'placeholder': 'placeholder.subtitle'|trans, 'ng-model': 'pageRoute.page.subtitle', 'class': 'form-control'}}) }}
                        <span class="text-error ng-cloak" ng-if="isRequire(pageForm, '{{ form.page.subtitle.vars.full_name }}')">{{ 'alert.field.required'|trans }}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="panel panel-body panel-back">
                    <div class="form-group col-xs-12 text-center">
                        <h4>{{ 'header.publication_setting'|trans }}</h4>
                        <hr>
                    </div>
                    <div class="form-group col-xs-12">
                        <label for="{{ form.publication.status.vars.id }}" class="col-xs-4 control-label align-label text-right">{{ 'global.status'|trans }}</label>
                        <div class="col-xs-8">
                            <select id="{{ form.publication.status.vars.id }}" name="{{ form.publication.status.vars.full_name }}" class="form-control" ng-options="translateStatus(publicationStatus.keyname) for publicationStatus in publicationStatuses track by publicationStatus.id" ng-model="pageRoute.publication.status"></select>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" ng-show="pageRoute.publication.status.keyname == 'published'">
                        <label for="{{ form.publication.datePublicationBegin.vars.id }}" class="col-xs-4 control-label align-label text-right">{{ 'form.publication.date_publication_begin'|trans }}</label>
                        <div class="col-xs-8">
                            <input id="{{ form.publication.datePublicationBegin.vars.id }}" name="{{ form.publication.datePublicationBegin.vars.full_name }}" class="form-control" ng-focus="datepicker.open($event, 1)" datepicker-options="datepicker.options" show-button-bar="false" uib-datepicker-popup="dd/MM/yyyy" is-open="datepicker.open1" ng-model="pageRoute.publication.datePublicationBegin" max-date="post.publication.datePublicationEnd" type="text" maxlength="10" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group col-xs-12" ng-show="pageRoute.publication.status.keyname == 'published'">
                        <label for="{{ form.publication.datePublicationEnd.vars.id }}" class="col-xs-4 control-label align-label text-right">{{ 'form.publication.date_publication_end'|trans }}</label>
                        <div class="col-xs-8">
                            <input id="{{ form.publication.datePublicationEnd.vars.id }}" name="{{ form.publication.datePublicationEnd.vars.full_name }}" class="form-control" ng-focus="datepicker.open($event, 2)" datepicker-options="datepicker.options" show-button-bar="false" uib-datepicker-popup="dd/MM/yyyy" is-open="datepicker.open2" ng-model="pageRoute.publication.datePublicationEnd" min-date="post.publication.datePublicationBegin" type="text" maxlength="10" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-xs-4 control-label align-label text-right">{{ 'form.publication.date_add'|trans }}</label>
                        <div class="col-xs-8 align-span">
                            <span>{^ pageRoute.dateAdd | date:'dd/MM/yyyy' ^}</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-xs-4 control-label align-label text-right">{{ 'form.publication.date_update'|trans }}</label>
                        <div class="col-xs-8 align-span">
                            <span>{^ pageRoute.dateUpdate | date:'dd/MM/yyyy' ^}</span>
                        </div>
                    </div>
                </div>
            </div>
            {# Content #}
            <div class="form-group col-xs-12 no-padding-lr">
                <label id="content" for="{{ form.page.content.vars.id }}">{{ 'global.content'|trans }}</label>
                <div class="col-md-12 no-padding-lr">
                    {% form_theme form.page 'ChapleanCmsBundle:Form:form_type.html.twig' %}
                    {{ form_widget(form.page.content , {'attr': {'ng-model': 'pageRoute.page.content', 'class': 'form-control'}}) }}
                    <span class="text-error ng-cloak" ng-if="isRequire(pageForm, '{{ form.page.content.vars.full_name }}')">{{ 'alert.field.required'|trans }}</span>
                </div>
            </div>
            <div class="form-group col-xs-12 no-padding-lr">
                <hr>
            </div>
            <div class="form-group col-xs-12 no-padding-lr">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary save">{{ 'button.save.global'|trans }}</button>
                    <button ng-click="savePage(pageForm, '{{ form.vars.name }}', true)" type="button" class="btn btn-success save-and-quit">{{ 'button.save_quit.global'|trans }}</button>
                    <a ng-click="cancel()" class="btn btn-default cancel">{{ 'button.cancel.global'|trans }}</a>
                </div>
            </div>
        </div>
    </form>
{%  endblock %}
